* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
font-family: "Poppins", sans-serif;
font-family: "Bangers", system-ui;
font-family: "Luckiest Guy", cursive; 
*/

body {
  background-image: url("img/Fundo.jpeg");
}

header {
  position: relative;
  background: #f2eddb;
  border-bottom: 3px solid #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

  nav {
    display: flex;
    gap: 80px;

    a {
      font-family: "Luckiest Guy", cursive;
      text-decoration: none;
      color: black;
      transition: width 0.25s ease;
      font-size: 20px;

      &:hover {
        text-decoration: underline #e3272b 2px;
        text-underline-offset: 6px;
        color: #e3272b;
      }
    }
  }

  button {
    background: #c80004;
    color: white;
    border: 3px solid #14141a;
    box-shadow: 4px 4px 0 #14141a;
    padding: 15px 30px;
    font-family: "Bangers", system-ui;
    font-size: 20px;
    cursor: pointer;
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;

    &:hover {
      transform: translate(4px, 4px);
      box-shadow: 0 0 0 #14141a;
    }
  }
}

header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 8px;
  background: repeating-linear-gradient(
    to right,
    #111 0 2px,
    transparent 2px 12px
  );
}

.alert {
    width: 100%;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    background-color: white;
    color: #2b58c4;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
}

.alert-itens {
  display: flex;
  width: max-content;
  animation: passar 15s linear infinite;
}

.alert-content {
  display: flex;

  span{
    padding-right: 40px;
  }
}

@keyframes passar {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.hero {
  background-image:
    linear-gradient(
      to right,
      rgba(10, 25, 70, 0.75) 0%,
      rgba(20, 45, 110, 0.45) 40%,
      rgba(31, 62, 140, 0) 75%
    ),
    url("img/Fundo-Capitão-América.png");

  background-color: #1f3e8c;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 500px;
}

.hero-texts {
  padding: 100px;

  h1 {
    font-family: "Bangers", system-ui;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: white;
    color: #2b58c4;
    font-size: 60px;
  }

  p {
    font-size: 20px;
    color: white;
    font-family: "Poppins", sans-serif;
    max-width: 600px;
    margin-top: 40px;
  }
}

.polaroid {
  img {
    width: 70%;
  }
}

.todo {
  margin: 0 auto;
  background: #c80004;
  border: 3px solid #14141a;
  box-shadow: 4px 4px 0 #14141a;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
  color: white;
  padding: 10px;
  width: 600px;
  text-align: center;
  font-family: "Bangers", system-ui;
  font-size: 25px;
  margin-top: -30px;
}

.title-funciona {
  font-family: "Bangers", system-ui;
  font-size: 25px;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
  color: #2b58c4;
  margin: 50px;

  .h2span {
    color: white;
  }
}

.Funciona {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cardf {
  width: 330px;
  height: 330px;
  background-color: white;
  border: 3px solid #14141a;
  box-shadow: 4px 4px 0 #14141a;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.numero {
  display: flex;
  align-items: center;

  span {
    width: 50px;
    height: 50px;
    background-color: #c80004;
    border: 3px solid black;
    margin: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h3 {
    font-family: "Luckiest Guy", cursive;
    color: #ffbb00;
    -webkit-text-stroke: 0.2px black;
    font-size: 25px;
  }
}

p,
.cardf {
  font-size: px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  font-weight: 450;
  margin: 10px;
}

.btn-funciona {
  margin-top: 20px;
  position: relative;
  display: inline-block;

  button {
    background: #ffbb00;
    border: 3px solid #14141a;
    box-shadow: 4px 4px 0 #14141a;
    -webkit-text-stroke: 0.5px black;
    color: white;
    padding: 10px;
    width: 150px;
    text-align: center;
    font-family: "Bangers", system-ui;
    font-size: 15px;
  }

  img {
    position: absolute;
    top: 10%;
    left: 90%;
  }
}

.cards-funciona {
  display: flex;
  justify-content: space-around;
}

.logo-funciona {
  margin-top: 10px;
}

.title-funciona2 {
  font-family: "Bangers", system-ui;
  font-size: 25px;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
  color: #e3272b;
  margin: 50px;

  .h2span {
    color: white;
  }
}

.brinquedos {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 50px;
}

.brinquedo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 300px;
  height: 300px;
  border: 3px solid #14141a;
  box-shadow: 6px 6px 0 #14141a;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &:hover {
    transform: translate(4px, 4px);
    box-shadow: 0 0 0 #14141a;
  }

  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 550;
  }

  h3 {
    font-family: "Bangers", system-ui;
    -webkit-text-stroke: 0.1px black;
    color: #ffbb00;
    font-size: 30px;
  }
}

.azul {
  background: linear-gradient(to bottom, #1f3e8c 50%, white 50%);
}

.vermelho {
  background: linear-gradient(to bottom, #c80004 50%, white 50%);
}

.qrdoar {
  background: #1f3e8c;
  border: 3px solid #14141a;
  box-shadow: 4px 4px 0 #14141a;
  width: 60%;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
}

.qr-texts {
  font-family: "Bangers", system-ui;
  font-size: 25px;
  -webkit-text-stroke: 0.5px black;
  color: white;

  span {
    color: #e3272b;
  }

  img {
    position: absolute;
    top: -10%;
    left: 0%;
  }
}

.qr-btn {
  padding: 20px;
  button {
    background: #ffbb00;
    color: white;
    border: 3px solid #14141a;
    box-shadow: 4px 4px 0 #14141a;
    padding: 15px 30px;
    font-family: "Bangers", system-ui;
    font-size: 30px;
    width: 300px;
    -webkit-text-stroke: 1px black;
    cursor: pointer;
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;

    &:hover {
      transform: translate(4px, 4px);
      box-shadow: 0 0 0 #14141a;
    }
  }
}
